.ipynb_checkpoints/
week-1/python_docker_sql/database/ny_taxi_postgres_data/
week-1/python_docker_sql/database/ny_taxi_postgres_data_volume
week-1/python_docker_sql/database/yellow_tripdata_2021-01.csv
week-1/python_docker_sql/database/taxi_zone_lookup.csv
week-1/python_docker_sql/database/green_tripdata_2019-01.csv
**/ny_taxi_postgres_data/*
*.tfstate
*.tfstate.*
**.terraform  
**.terraform.lock.*
**logs/
**.env
**google_credentials.json  # if google google_credentials are stored as json rather then env var this stops them fro being included
.vscode/
week-2/data/