.ipynb_checkpoints/
python_docker_sql/database/ny_taxi_postgres_data/
# database/yellow_tripdata_2021-01.csv.gz
python_docker_sql/database/ny_taxi_postgres_data_volume
python_docker_sql/database/yellow_tripdata_2021-01.csv
python_docker_sql/database/taxi_zone_lookup.csv